.namingIsHard{
    float: left;
    margin: auto;
    width: 19em;
    height: 19em;
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    margin: 1%;
    padding: 1em;
}

.itemAlign{
    font-size: x-large;
}

.leftText{
    float: left;
}

.rightText{
    float: right;
}

.buttonAligntments{
    position: relative;
    bottom: -10rem;
}

#btnWork{
    float: right;
    width: 30%;
    padding: 1rem;
    background-color: rgb(56, 142, 255);
}

#btnBankPay{
    float: left;
    width: 30%;
    padding: 1rem;
    background-color: yellow;
}

#bank, #work, #laptops{
    text-align: center;
}

#btnGetLoan{
    height: 15%;
    width: 75%;
    margin-top: 2rem;
    background-color: rgb(48, 187, 43);
}

#btnRepayLoan{
    height: 15%;
    width: 75%;
    margin-top: .5rem;
    background-color: rgb(163, 95, 226);
}

#bottomContainer{
    float: left;
    margin: auto;
    width: 63em;
    height: 20em;
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    margin: 1%;
    padding: 2em;
}

#laptopImg{
    float: left;
    margin: auto;
    width: 21rem;
    height: 20rem;
    border-radius: 5%;
}

#descBox{
    float: left;
    margin: auto;
    width: 21rem;
    height: 20rem;
    text-align: center;
    font-size: larger;
}

#buyBox{
    float: right;
    margin: auto;
    width: 21rem;
    height: 20rem;
    text-align: center;
    align-content: center;
    font-size: x-large;
}

#btnBuyLaptop{
    margin: auto;
    width: 15rem;
    height: 4rem;
    border-radius: 10%;
    font-size: large;
    background-color: rgb(35, 222, 255);
}

#laptopSelectBox{
    margin: auto;
    width: 100%;
    height: 2rem;
    text-align: center;
    border-radius: 5%;
}

#laptopFeatures{
    margin: auto;
    width: fit-content;
    height: fit-content;
}